USE [master]
GO
/****** Object:  Database [AirlineReservationSystem]    Script Date: 16/10/2016 6:30:47 PM ******/
CREATE DATABASE [AirlineReservationSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirlineReservationSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AirlineReservationSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AirlineReservationSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AirlineReservationSystem_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirlineReservationSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirlineReservationSystem]
GO
/****** Object:  Table [dbo].[City]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [varchar](3) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[InService] [bit] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Class]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [nvarchar](25) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flight]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Flight](
	[FlightNo] [varchar](10) NOT NULL,
	[CurrentPrice] [decimal](18, 2) NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[RouteID] [int] NOT NULL,
	[CancellationFee] [float] NOT NULL,
	[Duration] [float] NOT NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[FlightNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Route]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Route](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[OriginalCityID] [varchar](3) NOT NULL,
	[DestinationCityID] [varchar](3) NOT NULL,
	[Distance] [int] NOT NULL,
	[InService] [bit] NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatID] [varchar](4) NOT NULL,
	[Class] [nvarchar](25) NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TakenSeat]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TakenSeat](
	[SeatID] [varchar](4) NOT NULL,
	[FlightNo] [varchar](10) NOT NULL,
	[TicketNo] [int] NOT NULL,
 CONSTRAINT [PK_TakenSeat] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC,
	[FlightNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketNo] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[ConfirmationNo] [varchar](10) NULL,
	[BlockNo] [varchar](10) NULL,
	[CancellationNo] [varchar](10) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[NumberOfAdults] [int] NOT NULL,
	[NumberOfChildren] [int] NOT NULL,
	[NumberOfSeniorCitizens] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ticket_Flight]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ticket_Flight](
	[TicketNo] [int] NOT NULL,
	[FlightNo] [varchar](10) NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[IsReturning] [bit] NOT NULL,
 CONSTRAINT [PK_Ticket_Flight] PRIMARY KEY CLUSTERED 
(
	[TicketNo] ASC,
	[FlightNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 16/10/2016 6:30:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Sex] [bit] NOT NULL,
	[CreditcardNumber] [varchar](20) NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[City] ([CityID], [CityName], [InService]) VALUES (N'BST', N'Boston', 1)
INSERT [dbo].[City] ([CityID], [CityName], [InService]) VALUES (N'CTD', N'Cần Thơ', 0)
INSERT [dbo].[City] ([CityID], [CityName], [InService]) VALUES (N'DND', N'Đà Nẵng', 1)
INSERT [dbo].[Flight] ([FlightNo], [CurrentPrice], [DepartureTime], [RouteID], [CancellationFee], [Duration]) VALUES (N'AR0001', CAST(1050000.00 AS Decimal(18, 2)), CAST(0x0000A6A1000C5C10 AS DateTime), 28, 0, 0.77777777777777779)
INSERT [dbo].[Flight] ([FlightNo], [CurrentPrice], [DepartureTime], [RouteID], [CancellationFee], [Duration]) VALUES (N'AR0002', CAST(3750000.00 AS Decimal(18, 2)), CAST(0x0000A6A100F9F060 AS DateTime), 15, 0, 2.7777777777777777)
INSERT [dbo].[Flight] ([FlightNo], [CurrentPrice], [DepartureTime], [RouteID], [CancellationFee], [Duration]) VALUES (N'AR0003', CAST(27000000.00 AS Decimal(18, 2)), CAST(0x0000A6A100476940 AS DateTime), 14, 0, 20)
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([RouteID], [OriginalCityID], [DestinationCityID], [Distance], [InService]) VALUES (1, N'SGN', N'HUI', 1000, 1)
INSERT [dbo].[Route] ([RouteID], [OriginalCityID], [DestinationCityID], [Distance], [InService]) VALUES (2, N'SGN', N'HNN', 2000, 1)
INSERT [dbo].[Route] ([RouteID], [OriginalCityID], [DestinationCityID], [Distance], [InService]) VALUES (3, N'SGN', N'DND', 800, 1)
SET IDENTITY_INSERT [dbo].[Route] OFF
INSERT [dbo].[Seat] ([SeatID], [Class]) VALUES (N'10A', N'Smoking class')
INSERT [dbo].[Seat] ([SeatID], [Class]) VALUES (N'10B', N'Smoking class')
INSERT [dbo].[Seat] ([SeatID], [Class]) VALUES (N'10C', N'Smoking class')
INSERT [dbo].[TakenSeat] ([SeatID], [FlightNo], [TicketNo]) VALUES (N'10A', N'AR0074', 1412)
INSERT [dbo].[TakenSeat] ([SeatID], [FlightNo], [TicketNo]) VALUES (N'10A', N'AR0082', 1443)
INSERT [dbo].[TakenSeat] ([SeatID], [FlightNo], [TicketNo]) VALUES (N'10A', N'AR0084', 1301)
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketNo], [UserID], [ConfirmationNo], [BlockNo], [CancellationNo], [Price], [CreatedDate], [NumberOfAdults], [NumberOfChildren], [NumberOfSeniorCitizens], [Status]) VALUES (1267, N'nam', NULL, NULL, NULL, CAST(1200000.00 AS Decimal(18, 2)), CAST(0xFC3B0B00 AS Date), 4, 0, 0, 1)
INSERT [dbo].[Ticket] ([TicketNo], [UserID], [ConfirmationNo], [BlockNo], [CancellationNo], [Price], [CreatedDate], [NumberOfAdults], [NumberOfChildren], [NumberOfSeniorCitizens], [Status]) VALUES (1268, N'nam', NULL, NULL, NULL, CAST(25500000.00 AS Decimal(18, 2)), CAST(0xFC3B0B00 AS Date), 8, 0, 0, 1)
INSERT [dbo].[Ticket] ([TicketNo], [UserID], [ConfirmationNo], [BlockNo], [CancellationNo], [Price], [CreatedDate], [NumberOfAdults], [NumberOfChildren], [NumberOfSeniorCitizens], [Status]) VALUES (1269, N'nam', NULL, NULL, NULL, CAST(1050000.00 AS Decimal(18, 2)), CAST(0xFC3B0B00 AS Date), 4, 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Ticket] OFF
INSERT [dbo].[Ticket_Flight] ([TicketNo], [FlightNo], [SequenceNo], [IsReturning]) VALUES (1267, N'AR0028', 1, 0)
INSERT [dbo].[Ticket_Flight] ([TicketNo], [FlightNo], [SequenceNo], [IsReturning]) VALUES (1268, N'AR0138', 1, 0)
INSERT [dbo].[Ticket_Flight] ([TicketNo], [FlightNo], [SequenceNo], [IsReturning]) VALUES (1269, N'AR0299', 1, 0)
GO
INSERT [dbo].[User] ([UserID], [Password], [FirstName], [LastName], [Email], [PhoneNumber], [Sex], [CreditcardNumber], [DateOfBirth]) VALUES (N'nam', N' ', N'Nam', N'Le', N'lehainam@abc.zyz', N'83843938', 1, NULL, CAST(0x75250B00 AS Date))
ALTER TABLE [dbo].[Flight] ADD  CONSTRAINT [DF_Flight_CancellationFee]  DEFAULT ((15)) FOR [CancellationFee]
GO
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [DF_Ticket_NumberOfPassengers]  DEFAULT ((1)) FOR [NumberOfAdults]
GO
ALTER TABLE [dbo].[Ticket_Flight] ADD  CONSTRAINT [DF_Ticket_Flight_SequenceNo]  DEFAULT ((1)) FOR [SequenceNo]
GO
ALTER TABLE [dbo].[Ticket_Flight] ADD  CONSTRAINT [DF_Ticket_Flight_IsReturn]  DEFAULT ((0)) FOR [IsReturning]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_Route] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Route] ([RouteID])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_Route]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_City] FOREIGN KEY([OriginalCityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_City]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_City1] FOREIGN KEY([DestinationCityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_City1]
GO
ALTER TABLE [dbo].[TakenSeat]  WITH CHECK ADD  CONSTRAINT [FK_TakenSeat_Flight] FOREIGN KEY([FlightNo])
REFERENCES [dbo].[Flight] ([FlightNo])
GO
ALTER TABLE [dbo].[TakenSeat] CHECK CONSTRAINT [FK_TakenSeat_Flight]
GO
ALTER TABLE [dbo].[TakenSeat]  WITH CHECK ADD  CONSTRAINT [FK_TakenSeat_Seat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([SeatID])
GO
ALTER TABLE [dbo].[TakenSeat] CHECK CONSTRAINT [FK_TakenSeat_Seat]
GO
ALTER TABLE [dbo].[TakenSeat]  WITH CHECK ADD  CONSTRAINT [FK_TakenSeat_Ticket] FOREIGN KEY([TicketNo])
REFERENCES [dbo].[Ticket] ([TicketNo])
GO
ALTER TABLE [dbo].[TakenSeat] CHECK CONSTRAINT [FK_TakenSeat_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]
GO
ALTER TABLE [dbo].[Ticket_Flight]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Flight_Flight] FOREIGN KEY([FlightNo])
REFERENCES [dbo].[Flight] ([FlightNo])
GO
ALTER TABLE [dbo].[Ticket_Flight] CHECK CONSTRAINT [FK_Ticket_Flight_Flight]
GO
ALTER TABLE [dbo].[Ticket_Flight]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Flight_Ticket] FOREIGN KEY([TicketNo])
REFERENCES [dbo].[Ticket] ([TicketNo])
GO
ALTER TABLE [dbo].[Ticket_Flight] CHECK CONSTRAINT [FK_Ticket_Flight_Ticket]
GO
USE [master]
GO
